.page_container, .footer_container {
    margin-left: 15%;
    /*margin-right: 15%;*/
}
.header_container {
    /*margin-left: 15%;*/
    /*margin-right: 15%;*/
}
.banner_container img {
    margin-left: -20px;
}

.content_container {
    /*margin-top: 40px;*/
}

.menu_not_fixed {

}

.menu_fixed {
    margin-left: 15%;
}

.home_new {
    margin-bottom: 50px;
}

#list_discografia li a {
    cursor: pointer;
}

.focused {
    background-color: green !important;
}