<ul id="list_discografia" ng-controller="DiscografiaCtrl" class="nav nav-tabs nav-stacked span4" >
    <li ng-repeat="(key, disco) in discos">
        <a ng-click="mCollapse(key)">{{key}}</a>
        <ul id="{{key}}" collapse="collapsedItems[key]">
            <li ng-repeat="cancion in disco">
                <a ng-click="open(key, cancion)">{{cancion}}</a>
            </li>
        </ul>
    </li>
    <div modal="shouldBeOpen" close="close()" options="opts">
        <div class="modal-header">
            <h4>{{selectedParent}} - {{selectedItem}}</h4>
        </div>
        <div class="modal-body">
            <tabs>
                <pane ng-repeat="pane in panes" heading="{{pane.title}}" active="pane.active" ngcontent="discos">
                    {{pane.content}}
                </pane>
            </tabs>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success cancel" ng-click="close()">Cerrar</button>
        </div>
    </div>
</ul>